@charset "UTF-8";

:root{
    --cor0:#5f2c82;
    --cor1:#49a09d;
}

@media screen and (min-width:768px) and (max-width:992px) { /* configuração para tablet */

    body{
        background-image: linear-gradient(to top, rgb(63, 63, 63), lightgray);
    }

    #login{
        width: 80vw; /* para a div ter 80 de tamanho da tela */
        height: 300px;
    }

    #imagem{
        float: left; /* adicionar a imagem a esquerda da div */
        width: 30%; /* largura da imagem */
        height: 100%; /* altura da imagem */
    }
    #formulario{
        float: right;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width:992px) {
 /* configuração para desktop */
    body{
        background-image: linear-gradient(to top, rgb(63, 63, 63), lightgray);
    }

    #login{
        width:950px;
        height: 420px;
    }

    #imagem{
        float:right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    }
    div p{
        font-size: 1.2em;
        margin: 20px 0px;
    }

    div h1{
        font-size: 2em;
    }
}